@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
/* line 17, ../sass/form.sass */
.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 22, ../sass/form.sass */
body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background: #f1f1f2;
  color: #444;
  font-size: 16px;
}

/* line 28, ../sass/form.sass */
p, ul, li {
  color: #666;
  line-height: 1.6em;
  font-weight: 300;
}

/* line 33, ../sass/form.sass */
img {
  max-width: 100%;
}

/* line 36, ../sass/form.sass */
a {
  color: #157bd1;
  cursor: pointer;
}
/* line 39, ../sass/form.sass */
a:hover {
  color: #1060a3;
  text-decoration: none;
}

/* line 43, ../sass/form.sass */
h1 {
  color: #157bd1;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 40px;
}

/* line 49, ../sass/form.sass */
select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 54, ../sass/form.sass */
.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

/* line 59, ../sass/form.sass */
.row-inset {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

/* line 64, ../sass/form.sass */
.popover {
  max-width: 100%;
}
/* line 66, ../sass/form.sass */
.popover .popover-content {
  font-size: 13px;
  font-weight: 300;
}

/* line 70, ../sass/form.sass */
.form-cta {
  position: relative;
  height: 40px;
}
/* line 75, ../sass/form.sass */
.form-cta .arrow:after, .form-cta .arrow:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 85, ../sass/form.sass */
.form-cta .arrow:after {
  border-top-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
/* line 90, ../sass/form.sass */
.form-cta .arrow:before {
  border-top-color: #666;
  border-width: 12px;
  margin-left: -12px;
}
/* line 95, ../sass/form.sass */
.form-cta .arrow {
  display: block;
  position: absolute !important;
  top: 15px;
  left: 50%;
  z-index: 2;
  animation: float 1.5s ease-in-out infinite;
}
/* line 102, ../sass/form.sass */
.form-cta .animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* line 112, ../sass/form.sass */
.form-cta .bounce {
  animation-name: bounce;
}

/* line 115, ../sass/form.sass */
.header {
  background: white;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  overflow: hidden;
}
/* line 122, ../sass/form.sass */
.header .header-brand a {
  background-image: url("../images/loan-advisor-logo.png");
  background-repeat: no-repeat;
  display: block;
  float: left;
  margin: auto;
  width: 300px;
  height: 42px;
  text-indent: -9999px;
  margin: 10px 10px 10px 0;
  background-size: contain;
}
/* line 133, ../sass/form.sass */
.header .pull-right {
  text-align: right;
}
/* line 135, ../sass/form.sass */
.header .pull-right span {
  color: #666;
  display: inline-block;
  margin-top: 10px;
}
/* line 139, ../sass/form.sass */
.header .pull-right a {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 145, ../sass/form.sass */
.loan-info {
  padding-right: 80px;
  border-right: 1px solid #ddd;
}
/* line 148, ../sass/form.sass */
.loan-info h1, .loan-info p, .loan-info li {
  color: #999;
}
/* line 150, ../sass/form.sass */
.loan-info h1 {
  font-size: 24px;
  margin: 20px 0;
}
/* line 153, ../sass/form.sass */
.loan-info ul {
  list-style: none;
  padding: 0;
}
/* line 156, ../sass/form.sass */
.loan-info li {
  margin-bottom: 20px;
  font-size: 14px;
  clear: both;
}
/* line 160, ../sass/form.sass */
.loan-info .loan-icon {
  width: 38px;
  float: left;
  margin: 5px 15px 20px 0;
}

/* line 166, ../sass/form.sass */
.form-container {
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 50px;
}
/* line 171, ../sass/form.sass */
.form-container .form-body {
  padding: 50px 20px;
  margin: auto;
  max-width: 1000px;
}

/* line 176, ../sass/form.sass */
.form {
  text-align: center;
  padding-left: 50px;
}
/* line 179, ../sass/form.sass */
.form .sub-label {
  color: #96d703;
  font-weight: normal;
}
/* line 182, ../sass/form.sass */
.form > .form-group {
  width: 90%;
  margin: auto;
  max-width: 320px;
}

/* line 187, ../sass/form.sass */
.form .ll {
  padding-bottom: 30px;
}
/* line 189, ../sass/form.sass */
.form .ll a {
  color: #157bd1;
  cursor: pointer;
}
/* line 192, ../sass/form.sass */
.form .ll a:hover {
  color: #1060a3;
  text-decoration: none;
}
/* line 195, ../sass/form.sass */
.form .ll h2 {
  font-weight: 300 !important;
  color: #666;
  font-size: 24px;
}
/* line 199, ../sass/form.sass */
.form .ll h2 span {
  color: #157bd1;
}
/* line 201, ../sass/form.sass */
.form .ll .list-inline {
  display: none;
}
/* line 204, ../sass/form.sass */
.form .ll .has-feedback .form-control {
  padding-left: 42.5px;
  padding-top: 5px;
}
/* line 207, ../sass/form.sass */
.form .ll .formio-placeholder {
  position: relative;
  top: 5px;
}
/* line 210, ../sass/form.sass */
.form .ll .choices__list--single {
  padding-top: 3px;
}
/* line 212, ../sass/form.sass */
.form .ll .form-control {
  height: 44px;
  font-size: 18px !important;
  font-weight: 300 !important;
  text-align: center;
}
/* line 217, ../sass/form.sass */
.form .ll .form-control select, .form .ll .form-control input[type="text"], .form .ll .form-control input[type="tel"], .form .ll .form-control input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  font-size: 18px !important;
  font-weight: 300 !important;
}
/* line 229, ../sass/form.sass */
.form .ll label.control-label {
  display: none;
}
/* line 232, ../sass/form.sass */
.form .ll select:-moz-focusring {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* line 237, ../sass/form.sass */
.form .ll .progress {
  display: none;
  height: 8px;
  border-radius: 0;
  background: none;
}
/* line 242, ../sass/form.sass */
.form .ll .progress .progress-bar {
  border-radius: 0;
  background: #96d703;
}
/* line 246, ../sass/form.sass */
.form .ll .btn, .form .ll .btn-primary {
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  font-size: 21px !important;
  padding: 12px 30px !important;
  background: #157bd1 !important;
  border: none !important;
  border-radius: 5px;
  white-space: normal;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  margin: 10px 0;
  width: 100%;
}
/* line 260, ../sass/form.sass */
.form .ll .btn:hover, .form .ll .btn-primary:hover {
  color: white;
  background: #1060a3 !important;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
  top: 1px;
  position: relative;
}
/* line 266, ../sass/form.sass */
.form .ll .btn.btn-green, .form .ll .btn-primary.btn-green {
  background: #96d703 !important;
}
/* line 268, ../sass/form.sass */
.form .ll .btn.btn-green:hover, .form .ll .btn-primary.btn-green:hover {
  background: #84be03 !important;
}
/* line 271, ../sass/form.sass */
.form .ll .disclaimer {
  font-size: 12px;
  line-height: 20px;
}
/* line 275, ../sass/form.sass */
.form .ll label {
  font-size: 12px;
  color: #999;
  display: block;
  font-weight: 300;
}
/* line 281, ../sass/form.sass */
.form .ll .loan-icon {
  width: 130px;
}

/* line 285, ../sass/form.sass */
.form .ll .pagination {
  text-align: center;
  margin: auto;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}
/* line 294, ../sass/form.sass */
.form .ll .pagination > li > a, .form .ll .pagination > li > span {
  background: #e6e7e8;
  text-indent: -9999px;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 5px !important;
  padding: 0;
  border: none;
  float: none;
  display: inline-block;
}
/* line 305, ../sass/form.sass */
.form .ll .pagination > li.active > a, .form .ll .pagination > li.active > span {
  background: #96d703;
}

/* line 309, ../sass/form.sass */
.form .ll .secure {
  font-weight: 300;
  font-size: 13px;
  padding-left: 30px;
  text-align: left;
  background: url("../images/icn-secure.png") no-repeat left center;
  background-size: 21px;
  margin-bottom: 10px;
}
/* line 317, ../sass/form.sass */
.form .ll .question {
  font-size: 16px;
  position: relative;
  bottom: 2px;
}

/* line 321, ../sass/form.sass */
.form-note {
  font-weight: 300;
  font-size: 13px;
}

/* line 325, ../sass/form.sass */
.footer {
  clear: both;
  overflow: auto;
  padding: 30px 0;
}
/* line 329, ../sass/form.sass */
.footer p {
  color: #999;
  font-size: 13px;
}

/* line 334, ../sass/form.sass */
#thanks h1, #thanks h2 {
  font-weight: 300;
}
/* line 336, ../sass/form.sass */
#thanks h1 {
  font-size: 46px;
}
/* line 338, ../sass/form.sass */
#thanks .blue-container {
  background-color: #157bd1;
  padding: 10%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 50px;
  min-height: 492px;
}
/* line 345, ../sass/form.sass */
#thanks .blue-container h1, #thanks .blue-container p {
  color: white;
}
/* line 347, ../sass/form.sass */
#thanks .form-container {
  padding: 10%;
  text-align: center;
}
/* line 350, ../sass/form.sass */
#thanks .form-container .ll {
  padding-bottom: 0px;
}
/* line 352, ../sass/form.sass */
#thanks .form-container .credit-score {
  display: block;
  margin: 20px auto;
}

@media (max-width: 768px) {
  /* line 361, ../sass/form.sass */
  .header .header-brand a {
    max-width: 320px;
    margin: auto;
    float: none;
    background-size: contain;
  }
  /* line 366, ../sass/form.sass */
  .header p {
    float: none;
    margin: auto;
  }
  /* line 369, ../sass/form.sass */
  .header .pull-right {
    float: none !important;
  }

  /* line 371, ../sass/form.sass */
  .row-inset {
    padding: 0 20px;
  }

  /* line 373, ../sass/form.sass */
  .form-container {
    margin: 0 -20px;
    border-radius: 0;
  }
}
@media (max-width: 480px) {
  /* line 378, ../sass/form.sass */
  .form-container .form-body {
    padding: 20px;
  }

  /* line 380, ../sass/form.sass */
  .ola {
    display: none;
  }

  /* line 382, ../sass/form.sass */
  .form {
    padding: 0;
  }

  /* line 384, ../sass/form.sass */
  .loan-info {
    border: none;
    border-top: 1px solid #ddd;
    padding: 40px 0 0;
    margin-top: 40px;
  }

  /* line 390, ../sass/form.sass */
  #thanks .blue-container {
    margin: 20px 0;
    min-height: auto;
  }
  /* line 393, ../sass/form.sass */
  #thanks h1 {
    font-size: 36px;
  }
}
